<!--
<div class="snack-bar-container">
  
  <img 
    *ngIf="data.icon === 'smile-icon'" 
    src="/src/assets/man.png" 
    alt="Welcome Back Icon" 
    class="snack-bar-icon" 
  />
  
  <mat-icon *ngIf="data.icon === 'warning-icon'" class="snack-bar-icon">warning</mat-icon>
  <span class="snack-bar-message">{{ data.message }}</span>
</div>
-->
<div class="snack-bar-container">
  <!-- Default or Success icon 
  <mat-icon *ngIf="data.icon === 'success-icon'" class="snack-bar-icon">check_circle</mat-icon>-->
  <img 
  *ngIf="data.icon === 'success-icon'"
  src="/src/assets/man.png" 
  alt="Welcome Back Icon" 
  class="snack-bar-icon" 
/>
  <!-- Warning icon -->
  <mat-icon *ngIf="data.icon === 'warning-icon'" class="snack-bar-icon">warning</mat-icon>
  
  <span class="snack-bar-message">{{ data.message }}</span>
</div>
