<ion-header [translucent]="true" [attr.aria-hidden]="isHidden ? 'true' : null">
  <div class="home">
    <section>
      <!-- Content here -->
      <div class="curve"></div>
    </section>
  </div>
</ion-header>

<div class="bubble"></div>

<!-- Ovoid Styled AllOnes -->
<div class="ovoid-container" [attr.inert]="isHidden ? '' : null">
  <div class="ovoid-shape">
    <span class="text-style">AllOnes</span>
  </div>
</div>

<div class="welcome-container">
  <h1 class="welcome-text">Welcome!</h1>
  <div class="button-container">
    <ion-button
      class="custom-btn btn-create"
      shape="round"
      fill="outline"
      (click)="navigateTo('signup')"
      [disabled]="isHidden"
    >
      Create Account
    </ion-button>
    <ion-button
      class="custom-btn btn-login"
      shape="round"
      (click)="navigateTo('login')"
      [disabled]="isHidden"
    >
      Login
    </ion-button>
  </div>
</div>
