<div class="login-container">
  <div class="login-card">
      <div class="avatar">
          <img src="../../assets/done.png" alt="Avatar" />
        </div>
        <form *ngIf="step === 1" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <!-- Email Input -->
          <div class="input-group">
            <label for="email">
              <i class="fas fa-envelope">&nbsp;</i>Email ID
            </label>
            <input
              type="email"
              id="email"
              placeholder="Enter your Gmail ID"
              formControlName="email"
            />
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="error">
              Please enter a valid Gmail address.
            </div>
          </div>
    
          <!-- Submit Button -->
          <button type="submit" class="login-btn" [disabled]="forgotPasswordForm.invalid || loading">
            Submit
          </button>
    
          <!-- Progress Bar -->
          <mat-progress-bar
            *ngIf="loading"
            mode="indeterminate"
            color="primary"
          ></mat-progress-bar>
        </form>
        
         <!-- Step 2: Enter New Password -->
    <form *ngIf="step === 2" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <div class="input-group">
        <label for="new-password">
          <i class="fas fa-lock">&nbsp;</i>New Password
        </label>
        <div style="display: flex; align-items: center;">
        <input
          [type]="showPassword ? 'text' : 'password'" 
          id="new-password"
          placeholder="Enter new password"
          formControlName="newPassword"
        />
        <i
          class="fas"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" 
          (click)="togglePasswordVisibility()"
          style="cursor: pointer;"
        ></i>
      </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="error">
          Password must be at least 8 characters and include letters, numbers, and special characters.
        </div>
      </div>
      
      <div class="input-group">
        <label for="confirm-password">
          <i class="fas fa-lock">&nbsp;</i>Confirm Password
        </label>
        <input
          [type]="showPassword ? 'text' : 'password'" 
          id="confirm-password"
          placeholder="Confirm new password"
          formControlName="confirmPassword"
        />
       
        <div *ngIf="resetPasswordForm.hasError('passwordMismatch')" class="error">
          Passwords do not match.
        </div>
      </div>
      

      <button type="submit" class="login-btn" [disabled]="resetPasswordForm.invalid || loading">
        Submit
      </button>

      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-bar>
    </form>
    
      </div>
    </div>
    
  