<ion-tabs class="tabcolor">
  <ion-tab-bar slot="bottom" class="tabcolor">
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </ion-tab-button>

    <ion-tab-button tab="account" [routerLink]="['/account']">
      <ion-icon name="person-outline"></ion-icon>
      <span>Account</span>
    </ion-tab-button>

    <ion-tab-button tab="cart" [routerLink]="['/cart']">
      <ion-icon name="cart-outline"></ion-icon>
      <span>Cart</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
